body{
    display: flex;
    background-color: rgba(250, 235, 215, 0.459);
    /* background-image: url(/final/img/seaback.jpg); */

    backdrop-filter: blur(4px);
}



.border{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.9);
    width: 550px;
    margin: 70px auto;
    padding-bottom: 160px;
    box-sizing: border-box;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

textarea{
    border: 5px inset gray;
    width: 500px;
    height: 28vh;
    resize: none;
    font-size: 2.2vh;
    border-radius: 10px;
}

input{
    border: 5px inset gray;
    width: 500px;
    height: 3vh;
    font-size: 2.2vh;
}

.con-text{
    padding: 30px;
    box-sizing: border-box;
}

.margin{
    position: relative;
    margin-top: 5px;
}

.text{
    left: -230px;
}

.e-text{
    left: -213px;
}

.submit{
    padding-top: 50px;
}

.sub{
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .sub{
        width: 8vw;
        height: 5vh;
    }
}
@media screen and (max-width: 768px) {
    .sub{
        width: 120px;
        height: 50px;
    }
}